services:
  db:
    image: postgres:15
    container_name: transit_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  gtfsdb:
    build:
      context: ./gtfsdb
    container_name: gtfsdb_loader
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    # environment:
    #   DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB
    #   GTFS_URL: https://www.miapp.ca/GTFS/google_transit.zip
    command:
      - --database_url
      - ${DATABASE_URL}
      - ${GTFS_URL}

  app:
    build: .
    container_name: transit_app
    env_file:
      - .env
    depends_on:
      gtfsdb:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    ports:
      - "9100:9100"
    volumes:
      - ./app/static:/code/app/static
    environment:
      POSTGRES_HOST: db
      GTFS_STATIC_PATH: /code/app/static

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml
    command:
      - "--config.file=/etc/prometheus/prometheus.yaml"
    ports:
      - "9090:9090"
    depends_on:
      - app

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning

volumes:
  postgres_data:
  grafana_data:
