global:
  scrape_interval: 30s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'transit_app'
    static_configs:
      - targets: ['transit_app:9100']
    scrape_timeout: 15s
